<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ups!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ups!</ion-title>
    </ion-toolbar>
  </ion-header>

  <img id="notFoundImg" src="assets/img/notfound.svg" alt="">
  <div class="container">
    <p>
      Esta pagina aun no esta disponible!
    </p>

    <ion-button expand="block" color="light" shape="round" routerLink="/login">
      Volvamos al Inicio
    </ion-button>
  </div>

</ion-content>
