<ion-header>
  <ion-toolbar>
    <ion-title>¡REGISTRO!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="formulario">
    <ion-input [(ngModel)]="usuario" placeholder="Usuario:"></ion-input>
    <ion-input [(ngModel)]="contrasena" type="password" placeholder="Contraseña:"></ion-input>
    <ion-input [(ngModel)]="rut" placeholder="Rut:"></ion-input>

    <ion-item>
      <ion-select (ionChange)="cargarComuna()" [(ngModel)]="regionSel" label="Región" placeholder="Seleccione">
        <ion-select-option *ngFor="let i of regiones" [value]="i.id">{{i.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select [disabled]="seleccionComuna" [(ngModel)]="comunaSel" label="Comuna" placeholder="Seleccione">
        <ion-select-option *ngFor="let i of comunas" [value]="i.id">{{i.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button (click)="registro()" expand="full" color="light">Registrar Usuario</ion-button>
    <ion-button expand="full" color="light" routerLink="/login">Volver a Login</ion-button>
  </div>
</ion-content>

