<ion-header>
  <ion-toolbar>
    <ion-title>¡REGISTRO!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="formulario">
    <div class="input-container">
      <span class="placeholderEnElAire">Usuario:</span>
      <ion-input [(ngModel)]="usuario"></ion-input>
    </div>

    <div class="input-container">
      <span class="placeholderEnElAire">Contraseña:</span>
      <ion-input [(ngModel)]="contrasena" type="password"></ion-input>
    </div>

    <div class="input-container">
      <span class="placeholderEnElAire">Rut:</span>
      <ion-input [(ngModel)]="rut"></ion-input>
    </div>

    <hr class="divider" />

    <div class="input-container">
      <ion-select (ionChange)="cargarComuna()" [(ngModel)]="regionSel" label="Región" placeholder="Seleccione">
        <ion-select-option *ngFor="let i of regiones" [value]="i.id">{{i.nombre}}</ion-select-option>
      </ion-select>

      <ion-select [disabled]="seleccionComuna" [(ngModel)]="comunaSel" label="Comuna" placeholder="Seleccione">
        <ion-select-option *ngFor="let i of comunas" [value]="i.id">{{i.nombre}}</ion-select-option>
      </ion-select>
    </div>

    <hr class="divider" />

    <ion-button (click)="registro()" expand="block">
      ¡REGISTRARSE!
    </ion-button>

    <ion-button expand="block" routerLink="/login">
      ¡VOLVER AL LOGIN!
    </ion-button>
  </div>
</ion-content>
