<ion-header>
  <ion-toolbar>
    <ion-title>¡INICIAR SESIÓN!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="formulario">
    
    <div>
      <span class="placeholderEnElAire">Nombre de Usuario</span>
      <ion-input [(ngModel)]="nombreUsuario"></ion-input>
    </div>

    <div>
      <span class="placeholderEnElAire">Contraseña</span>
      <ion-input [(ngModel)]="contrasena" type="password"></ion-input>
    </div>

    <ion-button (click)="iniciarSesion()" expand="block">
      ¡INGRESAR!
    </ion-button>

    <ion-button expand="block" routerLink="/registrar">
      ¡REGISTRAR!
    </ion-button>

    <ion-button expand="block" routerLink="/recuperar">
      ¡RECUPERAR!
    </ion-button>
  </div>
</ion-content>
