<ion-header>
  <ion-toolbar>
    <ion-title>¡INICIAR SESIÓN!</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class = formulario>
    <ion-input [(ngModel)]="nombreUsuario" placeholder="Nombre de Usuario"></ion-input>
    <ion-input [(ngModel)]="contrasena" type="password" placeholder="Contraseña"></ion-input>

    <ion-button (click)="iniciarSesion()" expand = "block" color = "light" >
      Login
    </ion-button>

    <ion-button expand = "block" color = "light" routerLink="/registrar">
      Registrate!
    </ion-button>

    <ion-button expand = "block" color = "light" routerLink="/recuperar">
      RECUPERAR!
    </ion-button>

    <ion-button expand = "block" color = "light" routerLink="/geo">
      GEOGEOGEO!
    </ion-button>

   
  </div>
</ion-content>