<ion-header>
  <ion-toolbar>
    <ion-title>¡RECUPERAR CONTRASEÑA!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="formulario">

    <div class="input-container">
      <span class="placeholderEnElAire">Ingrese su RUT</span>
      <ion-input [(ngModel)]="rut" type="text"></ion-input>
    </div>

    <ion-button expand="block" (click)="recuperarContrasena()">
      ¡RECUPERAR!
    </ion-button>

    <ion-button expand="block" routerLink="/login">
      ¡VOLVER AL LOGIN!
    </ion-button>
  </div>
</ion-content>
